---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import { ciudades } from '../data/hoteles';

// Obtener el parámetro dinámico `hotel` de la URL
const { hotel } = Astro.params;

// Buscar el hotel en los datos
let hotelInfo = null;

for (const ciudad of ciudades) {
  hotelInfo = ciudad.hoteles.find((h) => h.id === hotel);
  if (hotelInfo) break;
}

// Mostrar error si no se encuentra el hotel
if (!hotelInfo) {
  throw new Error(`Hotel con id '${hotel}' no encontrado.`);
}
---

<Layout title={`Hotel ${hotelInfo.nombre}`} isHomePage={false}>
  <Nav />
  
    <div class="text-center">
      <h1 class="text-3xl font-bold mb-7">{hotelInfo.nombre}</h1>
      <span class="text-base text-gray-600">
        {hotelInfo.descripcion}
      </span>
      <img
      src={hotelInfo.img}
      alt={hotelInfo.nombre}
      class="w-full max-w-4xl mx-auto rounded-lg shadow-lg mt-8"
      <p>{hotelInfo.descripciongenral}</p>
    />
  </div>

  <div class="mb-5 flex flex-col justify-center items-center px-4 md:px-3 lg:px-32 2xl:px-64 mx-auto">
                <h1 class="text-3xl font-bold mb-8 text-center mt-8">Explora el lugar y sus puntos fuertes</h1>
                <iframe
                    src={hotelInfo.mapa}
                    class="w-full h-[600px] rounded-2xl border-2 border-slate-300" allowfullscreen loading="lazy">
                </iframe>
            </div>
    
  <Footer />
</Layout>
