---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import { restaurantes } from '../data/restaurantes'; // Asegúrate de tener este archivo con la información de los restaurantes.
import ItemCard from '../components/ItemCard.astro'; // Componente para la tarjeta de restaurantes
---

<Layout isHomePage={false} title="RutaFinder-Restaurantes">
  <Nav/>
    <div class="text-center">
      <h1 class="text-3xl font-bold mb-7">Nuestros restaurantes y comidas típicas</h1>
      <span class="text-base text-gray-600">
        La agencia elige restaurantes que destacan la gastronomía local, ofreciendo auténticas comidas típicas para todos los gustos y presupuestos.
      </span>
    </div>

    <section class="p-4 space-y-8">
      {restaurantes.map((ciudad) => (
       <div class="seccion-ciudad container mx-auto">
      <h1 class="ciudad-nombre text-3xl font-bold mb-4 mt-8 ml-4">{ciudad.nombre}</h1>
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            {ciudad.restaurantes.map((restaurante) => (
                <ItemCard
                id={restaurante.id} 
                nombre={restaurante.nombre} 
                img={restaurante.img} 
                descripcion={restaurante.descripcion}
                tipo="restaurantes"/>
            ))}
          </div>
        </div>
      ))}
    </section>
    <Footer/>
</Layout>