---
export interface Props {
  id: string;
  nombre: string;
  img: string;
  descripcion: string;
  tipo: 'hoteles' | 'actividades' | 'restaurantes' | 'paquetes';
}

const { id, nombre, img, descripcion, tipo } = Astro.props;
---

<article class="tarjeta flex flex-wrap bg-white rounded-2xl shadow-lg overflow-hidden max-w-md m-4 h-52 sm:justify-center" data-nombre={nombre.toLowerCase()}>
  <header class="flex w-full">
    <!-- Imagen del hotel, actividad, restaurante o paquete a la izquierda -->
    <img
      src={img}
      alt={nombre}
      class="w-1/2 object-cover rounded-2xl"
    />

    <!-- Contenido de la tarjeta al lado derecho, centrado -->
    <div class="p-4 flex flex-col justify-center items-center text-center w-1/2">
      <!-- Nombre del elemento -->
      <strong class="text-lg font-semibold mb-1">{nombre}</strong>

      <!-- Descripción -->
      <span class="text-sm text-gray-600 mt-3 line-clamp-2">
        {descripcion}
      </span>

      <!-- Botón de detalles más pequeño -->
      <div class="flex justify-center mt-auto">
        <a href={`/${tipo}/${id}`}>
          <button class="bg-blue-500 text-white px-2 py-1 text-sm rounded-full w-32 hover:bg-blue-600">
            Más detalles
          </button>
        </a>
      </div>
    </div>
  </header>
</article>
